* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 100%;
}

/* =====================Navbar======================= */
.navbar{
    height: 4rem;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
.nav-options {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid red; */

    & ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        height: 2rem;

    }
}

.options {
    position: relative;

    & a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #1f7373;
    }

    & a:hover{
        color: yellowgreen;
    }
    
    & a::after{
        content:"";
        position: absolute;
        border-bottom: 3px solid yellowgreen;
        width: 0%;
        bottom: 0;
        left: 0;
    }
    & a:hover::after{
        width: 100%;
        transition: width 0.5s linear;
    }
}


/* ======================Section-1====================== */
.section-1{
   height:90vh; 
   padding: 1rem 10rem;
   background: url("./sec-1-img.jpg");
    
   background-size: 100% 100%;
   background-repeat: no-repeat;
   position: relative;
/*    background-color: rgb(0, 255, 255); */
   /* opacity: 0.9; */
   
}

.sec-1-area{
    display: grid;
    text-wrap: wrap;
    grid-template-columns: repeat(2,1fr);
}

.sec-1-text{

    & h1{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
        color: #457b9d;
        /* font */
    }

    & p{
        font-size: 1.5rem ;
        text-align: center;
        color: #ff99c8;
    }
}

.custom-shape-divider-bottom-1732265869 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1732265869 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1732265869 .shape-fill {
    fill: #FFFFFF;
}

/* ==============Section-2====================== */
.section-2{
    padding: 1rem 10rem;
    margin-top: 8rem;

}

.sec-2-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flash-box{
    text-align: center;
    & img{
        height: 10rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }
    & p{
        font-size: 1.5rem;
    }
}


/* =====================Section-3===================== */
.section-3{
    padding: 1rem 10rem;
}
.sec-3-area{
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.features{
    border: 2px solid red;
    height: 300px;
    width: 500px;
}
